/*-- Use For Custom Styling --*/

html {
    min-height: 100%;
}

body,
html {
    height: 100%;
}

.slideshow {
    list-style: none;
    z-index: 1;
}

.slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: imageAnimation 24s linear infinite 0s;
    -moz-animation: imageAnimation 24s linear infinite 0s;
    animation: imageAnimation 24s linear infinite 0s;
}

.slideshow li h3 {
    position: absolute;
    text-align: center;
    z-index: 2;
    bottom: 150px;
    left: 0;
    right: 0;
    opacity: 0;
    font-size: 4.0625em;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    -webkit-animation: titleAnimation 24s linear 1 0s;
    -moz-animation: titleAnimation 24s linear 1 0s;
    animation: titleAnimation 24s linear 1 0s;
}

@media only screen and (min-width: 768px) {
    .slideshow li h3 {
        bottom: 30px;
        font-size: 8.125em;
    }
}

@media only screen and (min-width: 1024px) {
    .slideshow li h3 {
        font-size: 10.9375em;
    }
}

.slideshow li:nth-child(1) span {
    background-image: url(../images/slide1.jpg);
    opacity: 0.8;
}

.slideshow li:nth-child(2) span {
    background-image: url(../images/slide2.jpg);
    opacity: 1;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
    background-image: url(../images/slide3.jpg);
    -webkit-animation-delay: 12s;
    opacity: 1;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
}

#home {
    background-image: url(../images/slide1.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    padding: 120px 0;
    position: relative;
    width: 100%;
}

#home background-image {
    opacity: 0.7;
}

#home h1 {
    color: white;
    font-weight: bolder;
}

#home h2 {
    color: black;
    font-weight: bolder;
}

.slideshow li:nth-child(4) span {
    background-image: url(../images/about1.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
}

@-webkit-keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
    }
    12.5% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes imageAnimation {
    0% {
        opacity: 0;
        -moz-animation-timing-function: ease-in;
    }
    12.5% {
        opacity: 1;
        -moz-animation-timing-function: ease-out;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        -webkit-animation-timing-function: ease-in;
        -moz-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    12.5% {
        opacity: 1;
        -webkit-animation-timing-function: ease-out;
        -moz-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    12.5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.no-cssanimations .slideshow li span {
    opacity: 1;
}

.parallax {
    background-attachment: fixed;
    background-size: cover !important;
    /* height: 100%; */
    padding: 120px 0;
    background-repeat: no-repeat !important;
    position: relative;
    width: 100%;
}

.parallax.parallax-off {
    background-attachment: scroll !important;
    display: block;
    height: auto;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background-position: center center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
}

.no-scroll-xy {
    overflow: hidden !important;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.contact_form {
    border: 1px solid #ededed;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    background-color: #f2f3f5;
    padding: 40px 30px;
    border-radius: 2px;
}

.contact_form .form-control {
    background-color: #fff;
    margin-bottom: 30px;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    outline: 0 none;
    padding: 10px 25px;
    height: 55px;
    resize: none;
    box-shadow: none !important;
    width: 100%;
}

.contact_form textarea {
    color: #bcbcbc;
    padding: 20px 25px !important;
    height: 160px !important;
}

.contact_form .form-control::-webkit-input-placeholder {
    color: #bcbcbc;
}

.contact_form .form-control::-moz-placeholder {
    opacity: 1;
    color: #bcbcbc;
}

.contact_form .form-control::-ms-input-placeholder {
    color: #bcbcbc;
}

#contact {
    background: url(images/bg.png) no-repeat center center #fff;
}